:root{
    --main-color: rgba(24, 220, 255,1.0);
    --main-color-light: rgba(24, 220, 255,0.5);
    --accent-color: rgba(255, 175, 64,1.0);
    --accent-color-light: rgba(255, 175, 64,0.5);
}
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body{
    font-family: 'Montserrat', sans-serif;
    background-image: linear-gradient(to bottom right, var(--main-color), var(--accent-color));
    background-repeat: no-repeat;
    min-height: 100vh;
}
.main-title{
    font-size: 2rem;
    color: rgba(255, 255, 255,1.0);
}
.header, .gorev-form{
    min-height: 20vh;
    margin:.5rem;
    display: flex;
    justify-content: center;
    align-items: center;
}
.form-item{
    padding: .5rem;
    font-size: 1.1rem;
    border:none;
    background-color: white;
    outline: none;
}
.btn-gorev-ekle{
    color:var(--accent-color);
    cursor: pointer;
}
.btn-gorev-ekle:hover{
    color: white;
    background-color: var(--accent-color);
}
.gorev-container{
    display: flex;
    justify-content: center;
    align-items: center;
}
.gorev-listesi{
    list-style: none;
    min-width: 40%;
    
}
.gorev-item{
    display: flex;
    justify-content: center;
    align-items: center;
    margin: .5rem;
    font-size: 1rem;
    background-color: white;
    transition: 1s ease-in-out;
}
.gorev-tanim{
    flex: 1;
    padding: .5rem;
}
.gorev-btn{
    background-color: var(--accent-color);
    outline: none;
    border: none;
    font-size: 1rem;
    padding: .7rem;
}
.gorev-btn-sil{
    background-color: red;
}
.gorev-tamamlandi{
    text-decoration: line-through;
    opacity: 0.5;
    background-color: green;
    color: white;
}

.far{
    pointer-events: none;
}

.kaybol{
    transform: scale(0);
}